@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
   
  }
  .active-link{

      color: hsl(96, 82%, 35%);
    }
  